<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="connHiTechDB" connectionString="Data Source=DESKTOP-BA36FH8\MSSQLSERVER2017;Initial Catalog=HitechDB;Integrated Security=true" />
    <add name="HiTechDBEntities" connectionString="metadata=res://*/HiTechModel.csdl|res://*/HiTechModel.ssdl|res://*/HiTechModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BA36FH8\MSSQLSERVER2017;initial catalog=HiTechDB;persist security info=True;user id=sa;password=lasalle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechDBEntities1" connectionString="metadata=res://*/HiTechModel.csdl|res://*/HiTechModel.ssdl|res://*/HiTechModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BA36FH8\MSSQLSERVER2017;initial catalog=HiTechDB;persist security info=True;user id=sa;password=lasalle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechDBEntities2" connectionString="metadata=res://*/HiTechModel1.csdl|res://*/HiTechModel1.ssdl|res://*/HiTechModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BA36FH8\MSSQLSERVER2017;initial catalog=HiTechDB;persist security info=True;user id=sa;password=lasalle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechDBEntities3" connectionString="metadata=res://*/HiTechModel1.csdl|res://*/HiTechModel1.ssdl|res://*/HiTechModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BA36FH8\MSSQLSERVER2017;initial catalog=HiTechDB;persist security info=True;user id=sa;password=lasalle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechDBEntities4" connectionString="metadata=res://*/HiTechModel1.csdl|res://*/HiTechModel1.ssdl|res://*/HiTechModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BA36FH8\MSSQLSERVER2017;initial catalog=HiTechDB;persist security info=True;user id=sa;password=lasalle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechDBEntities5" connectionString="metadata=res://*/HiTechModel1.csdl|res://*/HiTechModel1.ssdl|res://*/HiTechModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BA36FH8\MSSQLSERVER2017;initial catalog=HiTechDB;persist security info=True;user id=sa;password=lasalle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechDBEntities6" connectionString="metadata=res://*/HiTechModel1.csdl|res://*/HiTechModel1.ssdl|res://*/HiTechModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BA36FH8\MSSQLSERVER2017;initial catalog=HiTechDB;persist security info=True;user id=sa;password=lasalle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>